<h1>New User</h1>
<form action="/create" method="post">
    <label name="title">Email</label>
    <input type="text" name="email" value=""/><br>
    <label name="title">First Name</label>
    <input type="text" name="firstName" value=""/><br>
    <label name="title">Last Name</label>
    <input type="text" name="lastName" value=""/><br>
    <label name="title">Profile Picture</label>
    <input type="text" name="imageUrl" value=""/><br>
    <label name="title">Password</label>
    <input type="password" name="password" value=""/><br>
    <input type="submit" value="Register">
</form>
